$pageColor: firebrick;
$input-height: 3rem;
$input-height-desktop: 1.5rem;
body {
    background-color: $pageColor;
    margin: 0px;
    color: white;
    font-family: "Roboto", sans-serif;
}

button:hover,
button:focus {
    cursor: pointer;
}

.flex-element {
    display: flex;
}

.header-text {
    letter-spacing: 2px;
    margin-bottom: 10%;
    .heading {
        font-size: 2rem;
    }
    .subtext {
        margin-top: -1rem;
        font-size: 0.875rem;
    }
}

.content {
    min-width: 50%;
    .landing-image {
        width: 100%;
    }
}

.register-link {
    text-decoration: none;
}

.landing-inputs {
    width: 100%;
    padding: 4% 6%;
}

.label-title {
    display: none;
}

.data-input {
    width: 100%;
    padding: 0% 6%;
    height: 2rem;
    font-size: 1rem;
    margin: 5px;
    border-radius: 50px;
    border-color: white;
    background-color: $pageColor;
}

.login-btn {
    width: 100%;
    border-radius: 50px;
    color: red;
    background-color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 1rem;
    height: 44.4px;
    color: red;
    border-color: currentColor;
}

#terms {
    width: auto;
    height: auto;
}

.terms-container {
    color: white;
    font-size: 10px;
    position: relative;
    left: 2px;
    top: 0.5rem;
}

.data-input {
    &,
    &:focus,
    &::placeholder {
        color: white;
    }
}


/* Changing AutoFill Background Color and Text Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px firebrick inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
}

.footer {
    .icon {
        width: 16px;
        height: 16px;
    }
}

.divider {
    margin-top: 15%;
    hr {
        width: 40%;
    }
}

.social-links {
    justify-content: space-around;
    padding-top: 10px;
    .icon {
        width: 30px;
    }
}

.social-btn {
    background-color: transparent;
    border: 0px;
    .text {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .login-social-msg,
    .content {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: black;
    }
    input {
        color: black;
        outline: none;
    }
    .input-group {
        margin: 1vh 0px;
        padding: 0.5rem 0.85rem;
    }
    .heading {
        font-size: 2rem;
    }
    .whole-page {
        display: flex;
        justify-content: center;
        height: 100vh;
        background-image: linear-gradient( to right bottom, #f2c42f, #ffa034, #ff7b49, #ff5861, #ea3c7b);
    }
    .register-link {
        color: blue;
    }
    .main-container {
        width: 75vw;
        max-width: none; //
        height: 85vh; // changed it to fit better shorter desktop screens. For example it would previously break on a 1024 x 768.
        min-height: 550px;
        margin: auto;
    }
    .data-input {
        font-size: 1.1rem;
        height: $input-height-desktop;
        background-color: white;
        border-radius: 0px;
        outline: 0;
        border-width: 0 0 1px 0;
        border-color: black;
        margin: 0;
        color: black;
        &:focus,
        &::placeholder {
            color: black;
            border-color: red;
        }
    }
    .login-btn {
        text-align: center;
        width: 160px;
        height: 35px;
        background-color: red;
        color: white;
        font-size: 14px;
        border-color: currentColor;
        margin: 1vh 0;
        border: 1px solid red;
        &:hover,
        &:focus {
            box-shadow: -3px 9px 19px -3px rgba(0, 0, 0, 0.75);
        }
    }
    .label-title {
        display: inline;
        text-align: left;
        width: 5rem;
        border-bottom: 1px solid currentColor;
        font-size: 1.1rem;
    }
    .form {
        color: black;
    }
    .login-container {
        justify-content: flex-end;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset;
        color: white;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: black !important;
    }
    .content {
        position: relative;
        text-align: center;
        width: 50%;
        color: white;
    }
    .landing-image {
        width: 100%;
        height: 100%;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .content-text {
        text-align: left;
        height: fit-content;
        position: absolute;
        top: 30%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    .content-h1 {
        font-size: 5rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .content-p {
        font-size: 1rem;
    }
    .landing-inputs {
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        flex-direction: column;
        justify-content: space-around;
    }
    .header-text {
        color: black; // I used !important here because this header continues to inherit the white colour from the mobile design.
        letter-spacing: 2px;
        .heading {
            font-size: 2rem;
        }
    }
    .terms-container {
        color: black;
        font-size: 14px;
        display: flex;
        justify-content: center;
    }
    .terms-input {
        margin-right: 3%;
    }
    .divider {
        display: none;
    }
    .login-social-msg {
        color: black;
    }
    .msg-icons {
        text-align: left;
    }
    .social-links {
        justify-content: space-around;
        margin-top: 10px;
    }
    .social-btn {
        background-color: transparent;
        border: 0px;
        align-items: center;
        border-radius: 30px;
        width: 7vw;
        color: white;
        .text {
            display: inline;
            font-size: 10px;
        }
    }
    .social-btn {
        color: white;
        &._fb {
            background-color: #4267b2;
        }
        &._tw {
            background-color: #1da1f2;
        }
        &._gp {
            background-color: #dd4b39;
        }
    }
}